
:root {
    --clr-black: #000;
    --clr-dark-grey: #333;
    --clr-light-grey: #4c4c4c;
    --clr-white: #fff;
    --clr-light-orange: #ffcc59;
    --clr-light-blue: #01bbe3;

    --fnt-main: 'Open-Sans';
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 100%;
    width:100%;
    margin: 0 auto;
}

#home {
    margin-top: 20px;
    background-image: url(/assets/img/home.png);

    min-height: 475px;
}
#home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home header nav ul {
    list-style: none;
    display: flex;
}

#home header nav ul li {
    margin: 0 20px;
}

#home header nav ul li a {
    text-decoration: none;
    color: var(--clr-light-blue);
    font-family: var(--fnt-main);
    font-weight: bold;
}

#home header img {
    width:100px;
    height: 100px;
    margin-left:111px;
}

#home .home-image img {
    max-width: 100%;
    max-height: 100%;
    margin-left:30px;
    margin-top: 12px;
}

#home .home-pane {
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: center;
}

.home-info {
    margin-top: 126px;
    margin-left: 100px;
}

.home-info p {
    font-size: 2.7rem;
    color: var(--clr-white);
    padding-top:10px;
    margin-bottom: 10px;
}

.home-form {
    display: flex;
    flex-direction: column;
}

.home-form label{
    text-transform: uppercase;
}

.home-form input {
    color: var(--clr-light-blue);
    border-radius: 10%;
}

.home-form button {
    text-transform: uppercase;
    background-color: var(--clr-light-orange);
    margin-left: 20px;
    border-radius: 20px;
    height: 30px;
}

.input-mail-field {
    display: flex;
    margin-top:10px;
    font-weight: bold;
}


/* About section */

#about {
    display: flex;
    padding: 100px;
    align-items: center;
}

.about-img  img {
    width: 300px;
    height: 300px;
    margin-right: 30px;
}

#about .about-text{
    margin-left:40px;

}

#about .about-text h2 {
    font-weight: bold;
    margin-bottom: 80px;
    font-size: 1.5rem;
}

#about .about-text p {
    line-height: 2;
}

/* Aktivnosti */

#events {
    background: url(/assets/img/events-bg.png);
    display: flex;
    justify-content: center;
    padding: 100px;
    padding-top: 90px;
}

#events .header {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.event-content{
    min-width: 70%;
}

.event-list ul li h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.event-list ul li {
    margin: 10px 0;
    background-color: var(--clr-white);
    border-radius: 30px;
    padding: 30px;
    width: 85%;
}

.events-side-text {
    background-color: var(--clr-white);
    border-radius: 30px;
    padding: 25px;
    line-height: 2;
}

/* Join */
#join {
    background: url(/assets/img/join-bg.png);
    display: flex;
    padding: 100px;
}

#join .join-header {
    background: transparent;
    border-radius: 27%;
    padding: 30px;
    border: var(--clr-white) 5px solid;
    color: var(--clr-white);
    font-size: 2rem;
    font-weight: bold;
    margin-right: 30px;
}

#join .join-text {
    background: var(--clr-white);
    border-radius: 30px;
    padding: 30px;
}
